.tooltip {
    border-bottom: 1px dotted $dark-font;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    opacity: .5;
    color: $bright-gray;
    text-align: center;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: $font-size-small;
    max-width: 120px;

    position: sticky;
    z-index: 1;
    top: -5px;
    left: 55%;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}