//colors
$dark-font:  #4a0e1b;
$matte-lipstick: #8f2f44;
$off-white: #f0e1e4;
$bright-lipstick: #a61734;
$dull-gray: #9c8c8f;
$bright-gray: #f7f7f7;

//Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
//spacing

$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;